<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Metanoia.Properties.Settings.BDMetanoiaConnectionString"
            connectionString="Data Source=servidormetanoiasql.database.windows.net;Initial Catalog=BDMetanoia;User ID=AdminSQL"
            providerName="System.Data.SqlClient" />
        <add name="Metanoia.Properties.Settings.MetanoiaBDConnectionString"
            connectionString="Data Source=metanoiaserv.database.windows.net;Initial Catalog=MetanoiaBD;User ID=Adminsql;Password=Gatito123;Encrypt=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>